.userbox__add-btn {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-left: auto;
    box-sizing: border-box;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url(../../../images/add-btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .userbox__add-btn {
        margin: 0;
        width: 282px;
        background-size: 16px 16px;
    }
}

.userbox__add-btn:hover {
    opacity: 0.6;
}
